# file: .gitignore

/files/
/config/*
!/config/.env.example

#django/python
*.log
*.pot
*.pyc
db.sqlite3
# 0*_initial.py
.vscode/
**/.env
**/core/utils/files/
**/__pycache__/


local_secrets.json
.idea
**venv/
**venv_/
ZscalerRootCA.crt
dump.rdb
.DS_Store
**database_access.sh
