HPUB_POSTGRES_CONNECTION_STRING=
AWS_API_KEY=
AWS_SECRET_KEY=
DJANGO_SETTINGS_MODULE=
GOV_UK_NOTIFY_EMAIL_TEMPLATE_ID=
GOV_UK_NOTIFY_SMS_TEMPLATE_ID=
GOV_UK_NOTIFY_API_KEY=
GOV_UK_NOTIFY_API_URL=
GOV_UK_NOTIFY_UNSUBSCRIBE_URL=
APS_API_KEY=
APS_TEST_BASE_URL=
ADDRESS_VERIFICATION_BASE_URL=
RELATIVE_PATH=
CLIENT_ID_AZURE_B2C=
CLIENT_SECRET_AZURE_B2C=
B2C_TENANT_NAME=
B2C_USER_FLOW=
AZURE_B2C_DIR=
AZURE_B2C_API_ENDPOINT=
